body {
    background-image: url("Img/bg.jpg");
    background-color: lightgray;
    padding-top: 60px;
    padding-bottom: 40px;
    font-family: fantasy;
    line-height: 1.5;
  }
  
  header {
    margin: 20px;
    padding: 30px;
    text-align: center;
    background-color: transparent;
    color: whitesmoke;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
  }
  
  nav ul li a:hover {
    background-color: #eaeaea;
  }
  
  section {
    background-color: #ffffff;
    margin: 30px;
    border-radius: 5px;
  }
  
  h1,
  h2 {
    position: relative;
    top: 20px;
    color: #333;
    text-align: center;
    background-color: #ffcccc;
  }
  
  figure {
    text-align: center;
  }
  
  figcaption {
    font-style: italic;
    margin-top: 10px;
    color: #777;
    width: 100%;
  }
  
  footer {
    padding: 0%;
    color: #fff;
    text-align: center;
  }
  
  img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
  }
  
  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    /* Center the DIV horizontally */
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  .column0 {
    float: left;
    width: 35%;
    padding: 25px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  p {
    position: relative;
    top: 25px;
    text-indent: 50px;
  }
  
  .fa {
    filter: opacity(80%);
  }
  
  .fb {
    filter: opacity(93%);
  }
  
  .uls {
    list-style-image: url("Img/list.gif");
  }
  
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    body {
      background-image: url("bg/bg-tiny.jpg");
    }
    
    nav ul{
      display: block;
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 200px;
    }
  
    nav ul li a {
      display: block;
      padding: 15px;
      color: white;
      text-decoration: none;
      text-align: center;
      background-color: #333;
      filter: opacity(70%) ;
    }
  
    nav ul li a:hover {
      background-color: #eaeaea;
    }
    
    img {
      width: 150px;
      height: 150px;
    }
    
    h1 {
      font-size: 24px;
    }
    
    h2 {
      font-size: 20px;
    }
    
    p {
      font-size: 14px;
    }

    .column{
      float: none;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 601px to 900px) */
  @media only screen and (min-width: 601px) and (max-width: 900px) {
    body {
      background-image: url("bg/bg-small.jpg");
    }
    nav ul{
      display: block;
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 200px;
      text-align: center;
    }
  
    nav ul li a {
      display: block;
      padding: 15px;
      color: white;
      text-decoration: none;
      text-align: center;
      background-color: #000b2e;
      filter: opacity(70%) ;
    }
  
    nav ul li a:hover {
      background-color: #eaeaea;
    }
    
    img {
      width: 200px;
      height: 200px;
    }
    
    h1 {
      font-size: 28px;
    }
    
    h2 {
      font-size: 24px;
    }
    
    p {
      font-size: 16px;
    }

    .column{
      float: none;
    }
  }
  
  /* Medium devices (landscape tablets, 901px to 1200px) */
  @media only screen and (min-width: 901px) and (max-width: 1200px) {
    body {
      background-image: url("bg/bg-medium.jpg");
    }
  
    nav ul li a {
      font-size: 14px;
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 60px;
    }

    img{
      width:350px;
      height:350px;
    }

    .column{
      float: none;
    }
  }
  
  /* Large devices (laptops/desktops, 1201px and up) */
  @media only screen and (min-width: 1201px) {
    body {
      background-image: url("bg/bg-medium.jpg");
    }

    img{
      width:400px;
      height:400px;
    }
  }
  
  /* Extra large devices (large laptops and desktops, 1601px and up) */
  @media only screen and (min-width: 1601px) {
    body {
      background-image: url("bg/bg-big.jpgs");
    }
  }
  